// Size
$wrapper: 840px;
$wrapper-small: 640px;

// Colors
$color-accent: #19B5FE;
$color-accent-light: #ceefff;
$color-lighter: rgba(0, 0, 0, .05);
$color-light: rgba(0, 0, 0, .4);
$color-dark: rgba(0, 0, 0, .85);

// Special effects
